DATABASE_URL="postgresql://username:password@localhost:5432/mydb"
JWT_SECRET="" # openssl rand -base64 32
VITE_TURNSTILE_SITE_KEY="" 
TURNSTILE_SECRET_KEY="" 
VITE_BASE_URL="/sif/"
APP_URL="http://localhost:3000"
WEBMAIL_HOST="webmail.nitt.edu"
NITT_USER=""
NITT_PASSWORD=""
SMTP_PORT="" # Optional: defaults to 465
SMTP_SECURE="" # Optional: defaults to true (SSL/TLS)


# Production ONLY seperate .env just for Docker and Scripts
# DB_PASS=""
# SCRIPT_ENV="production"
# HASHED_PASSWORD=''
