DATABASE_URL="postgresql://username:password@localhost:5432/mydb"
JWT_SECRET="" # openssl rand -base64 32
VITE_TURNSTILE_SITE_KEY="" 
TURNSTILE_SECRET_KEY="" 
VITE_BASE_URL="/sif/"
APP_URL="http://localhost:3000"
NITT_USER=""
NITT_PASSWORD=""

# Production ONLY seperate .env just for Docker and Scripts
# DB_PASS=""
# SCRIPT_ENV="production"
# HASHED_PASSWORD=''
